<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
      <meta name="description" content="RateNet">
      
      <title>RateNet</title>
      <!--<link rel="icon" type="image/x-icon" href="icon.ico">-->
      <link rel="icon" type="image/x-icon" href="/NETRATE.svg">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
      <link rel="stylesheet" href="/css/main.css">
      <!--Scripts-->
   </head>
   <body>
      <div style="flex:content; align-items: center;">
         <div id="map"></div>
      </div>

      <script src="/dist/d3-hexbin.js"></script>
      <script src="/dist/d3.js"></script>
      <script src="/dist/leaflet-src.js"></script>
      <script src="/dist/leaflet-d3.js"></script>
      <script src="/js/main.js"></script>
   </body>
</html>