@import url('https://fonts.googleapis.com/css2?family=Monda&display=swap');

html, body {
   margin: 0;
   display: flex;
   flex-direction: column;
}

.leaflet-tile {
   filter: grayscale(80%);
   opacity: 0.5;

}

#map  {
   height: 100vh;
   width: 100vw;
   flex-grow: 1;
}

.table-select-container {
   width: 150px;
   padding: 10px;
   background: #04383F;
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
}

.table-select-container select {
   width: 80%;
   height: 30px;
   display: block;
   margin-bottom: 15px;
}

.table-select-container label {
   color: white; /* Set label text color to white */
   font-weight: bold;
   margin-left: 5px; /* Space between the checkbox and the label */
}

.table-select-container input[type="checkbox"] {
   width: 15px; /* Set the width of the checkbox */
   height: 15px; /* Set the height of the checkbox */
   margin-right: 5px; /* Space between the checkbox and the label */
}

.table-select-container button {
   width: 100%;
   background-color: #FFA500;
   color: black;
   font-weight: 700;
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 0;
}

/* Add a class for the search icon inside the button */
.search-icon {
   background-image: url('path-to-lupa-icon.png'); /* Replace with the path to your lupa icon image */
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 16px; /* Width of the icon */
   height: 16px; /* Height of the icon */
   margin-right: 5px; /* Space between the icon and the text, if needed */
}

.table-select-container .search-icon {
   display: inline-block;
   text-align: center;
}

.legend {
   background-color: white;
   font-family: 'Monda', sans-serif;
   border-radius: 5px;
   padding: 10px;
   font-size: 14px;
   color: #555;
   line-height: 18px;
   width: auto; /* Ajusta el ancho según sea necesario */
}

.legend i {
   font-style: italic;
   width: 18px;
   height: 18px;
   float: left;
   margin-right: 8px;
   opacity: 0.7;
} 

.legend-gradient {
   width: 100%; /* O el ancho que prefieras */
   height: 20px; /* Altura de la barra de gradiente */
   background: linear-gradient(to right, rgb(255,0,0), rgb(255,165,0), rgb(0,255,0));
   border: 1px solid #555; /* Opcional: añade un borde si lo deseas */
   border-radius: 5px; /* Opcional: redondea las esquinas */
   margin-bottom: 10px; /* Espacio debajo de la barra de gradiente */
}


@media (max-width: 767px) {
   .legend {
     position: absolute; /* Posicionamiento absoluto sobre el mapa */
     bottom: 10px; /* A una distancia fija del fondo de la pantalla */
     left: 10px; /* A una distancia fija del lado izquierdo de la pantalla */
     max-width: 90%; /* No más ancha que la pantalla */
     font-size: 12px; /* Un tamaño de fuente más pequeño para pantallas pequeñas */
     padding: 6px; /* Un poco de padding para no pegar el texto a los bordes */
     box-sizing: border-box; /* Para incluir el padding dentro del ancho y alto */
   }

   #map {
     height: calc(100vh - 20px); /* Reduce la altura un poco para acomodar la leyenda */
   }
}