html, body {
   height: 100%;
   margin: 0;
}

.leaflet-tile {
   filter: grayscale(80%);
   opacity: 0.5;

}

#map  {
   height: 100vh;
   width: 100vw;
}

.table-select-container {
   width: 150px;
   padding: 10px;
   background: #04383F;
   padding-bottom: env(safe-area-inset-bottom); /* Ajuste para el área segura */
   flex-direction: column;
   align-items: center;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   max-height: 90vh;
}

.table-select-container select {
   width: 80%;
   height: 30px;
   display: block;
   margin-bottom: 15px;
}

.table-select-container label {
   color: white; /* Set label text color to white */
   font-weight: bold;
   margin-left: 5px; /* Space between the checkbox and the label */
}

.table-select-container input[type="checkbox"] {
   width: 15px; /* Set the width of the checkbox */
   height: 15px; /* Set the height of the checkbox */
   margin-right: 5px; /* Space between the checkbox and the label */
}

.table-select-container button {
   width: 100%;
   margin-top: 20px; /* Add some space above the button */
   display: flex; /* Use flexbox for centering the content */
   justify-content: center; /* Center the button content horizontally */
   align-items: center; /* Center the button content vertically */
   padding: 10px 0; /* Add padding above and below the text/icon */
}

/* Add a class for the search icon inside the button */
.search-icon {
   background-image: url('path-to-lupa-icon.png'); /* Replace with the path to your lupa icon image */
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center;
   display: inline-block;
   width: 16px; /* Width of the icon */
   height: 16px; /* Height of the icon */
   margin-right: 5px; /* Space between the icon and the text, if needed */
}

.table-select-container .search-icon {
   display: inline-block;
   text-align: center;
}